.about {
    background: #f4f4f4;
    padding: 20px;
}

.about h2 {
    text-align: center;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .about {
        padding: 10px;
    }

    .about p {
        font-size: 1em;
    }
}