:root {
  --background: #460066;
  --primary: #650076;
  --secondary: #BE58CF;
  --accent: #73A3B3;
  --text: #FFFFFF;
}

body.light-theme {
  --background: #BFACC8;
  --primary: #C8C6D7;
  --secondary: #783F8E;
  --accent: #4F1271;
  --text: #000000;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
  overflow-x: hidden;
  color: var(--text);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.header {
  background-color: var(--primary);
  width: 100%;
  top: 0;
  z-index: 1000;
}

.position-fixed{
  position: fixed;
}

.position-sticky {
  position: sticky;
}

.main-container {
  display: flex;
  width: 100%;
  margin-top: 60px;
  /* Adjust based on header height */
}

.left-column {
  flex: 2;
  position: static;
  left: 0;
  top: 60px;
  bottom: 0;
  width: auto;
  padding: 20px;
  overflow-y: auto;
}

.right-column {
  flex: 3;
  width: 30%;
  overflow-y: auto;
  padding: 20px;
  height: auto;
}

.mobile-main-container{
display: flex;
flex-direction: column;
}

.Mobile-App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mobile-header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.language-switch,
.theme-switch {
  background: var(--accent);
  border: none;
  color: var(--text);
  cursor: pointer;
  font-size: 1em;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
}