/* :root {
    --background: #460066;
    --primary: #650076;
    --secondary: #BE58CF;
    --accent: #73A3B3;
    --text: #FFFFFF;
}

body.light-theme {
    --background: #BFACC8;
    --primary: #C8C6D7;
    --secondary: #783F8E;
    --accent: #4F1271;
    --text: #000000;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--text);
    overflow-x: hidden;
}

.App {
    text-align: center;
}

.header {
    background-color: var(--primary);
    color: var(--text);
    padding: 10px 0;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header nav .burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.header nav .burger-menu .line {
    width: 25px;
    height: 3px;
    background-color: var(--text);
    margin: 4px 0;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    margin: 0 15px;
}

.header nav ul li a {
    color: var(--text);
    text-decoration: none;
}

.language-switch,
.theme-switch {
    background: var(--accent);
    border: none;
    color: var(--text);
    cursor: pointer;
    font-size: 1em;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
}
 */