/* These font-family styles are redundant with App.css
   Only keeping the font-smoothing properties which aren't in App.css */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}